BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

IOBUF ALLPORTS IO_TYPE=LVCMOS33;
LOCATE COMP "clk" SITE "135"; 
LOCATE COMP "reset" SITE "18";
LOCATE COMP "push_button" SITE "20";

# FPGA 1
#LOCATE COMP "clk_spi_out" SITE "138";
#LOCATE COMP "tx" SITE "137";
#LOCATE COMP "clk_spi_in" SITE "139";
#LOCATE COMP "rx" SITE "60";

# FPGA 2
LOCATE COMP "clk_spi_out" SITE "139";
LOCATE COMP "tx" SITE "60";
LOCATE COMP "clk_spi_in" SITE "138";
LOCATE COMP "rx" SITE "137";

LOCATE COMP "dip_switch[0]" SITE "41";
LOCATE COMP "dip_switch[1]" SITE "40";
LOCATE COMP "dip_switch[2]" SITE "39";
LOCATE COMP "dip_switch[3]" SITE "36";
LOCATE COMP "dip_switch[4]" SITE "35";
LOCATE COMP "dip_switch[5]" SITE "34";
LOCATE COMP "dip_switch[6]" SITE "33";
LOCATE COMP "dip_switch[7]" SITE "32";

LOCATE COMP "Out_7Seg_LSB[7]" SITE "105"; 
LOCATE COMP "Out_7Seg_LSB[6]" SITE "111";
LOCATE COMP "Out_7Seg_LSB[5]" SITE "106"; 
LOCATE COMP "Out_7Seg_LSB[4]" SITE "110"; 
LOCATE COMP "Out_7Seg_LSB[3]" SITE "113"; 
LOCATE COMP "Out_7Seg_LSB[2]" SITE "115";
LOCATE COMP "Out_7Seg_LSB[1]" SITE "112";
LOCATE COMP "Out_7Seg_LSB[0]" SITE "114";

LOCATE COMP "Out_7Seg_MSB[7]" SITE "116"; 
LOCATE COMP "Out_7Seg_MSB[6]" SITE "121";
LOCATE COMP "Out_7Seg_MSB[5]" SITE "118";
LOCATE COMP "Out_7Seg_MSB[4]" SITE "120";
LOCATE COMP "Out_7Seg_MSB[3]" SITE "124";
LOCATE COMP "Out_7Seg_MSB[2]" SITE "136";
LOCATE COMP "Out_7Seg_MSB[1]" SITE "122";
LOCATE COMP "Out_7Seg_MSB[0]" SITE "134";